    <style>
        #first{
            background-color:orchid;color: blue;
        }
        #second{background-color: beige;}
               .blue{background-color:peachpuff;color: black;}

        body { background-color:orange;}
    </style>